<launch>
     <param name="robot_description"
      command="$(find xacro)/xacro --inorder $(find sawyer_description)/urdf/sawyer.urdf.xacro
      gazebo:=true electric_gripper:=true
      pedestal:=true static:=true"/>

    <param name="robot_description_semantic"
      command="$(find xacro)/xacro --inorder $(find sawyer_moveit_config)/srdf/sawyer.srdf.xacro
          electric_gripper:=true
          tip_name:=right_hand
          controller_box:=true"/>

</launch>
